<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
  <label for="user_name">Name</label>
  <input type="text" id="user_name" name="user[name]">
  <br>
  <label for="password">Password</label>
  <input type="password" id="user_password" name="user[password]">
  <br>
  <label for="user_password_confirmation">Password Confirmation</label>
  <input type="password" id="user_password_confirmation" name="user[password_confirmation]">
  <br>

  <br>
  <br>
  Create Post
  <br>
  <label for="user_post_body">Body</label>
  <input type="text" id="user_post_body" name="user[posts_attributes][0][body]">
  <br>

  <% 3.times do |i| %>
  <label for="user_post_link_<%= i %>_url">URL</label>
  <input type="url" name="user[posts_attributes][0][links_attributes][<%= i %>][url]" id="user_post_link_<%= i %>_url">
  <br>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Create User and Post">
</form>