<h2><%= @user.name %></h2>
<br>

<h4>Friend circles</h4>
<ul>
<% @user.fcs.each do |fc| %>
  <li><%= link_to fc.name, fc_url(fc) %></li>
<% end %>
</ul>

<br>
<% if @current_user.id == @user.id %>
  <%= link_to "Create friend circle", new_fc_url %>
  <br>
  <%= link_to "Feed", feed_user_url(@user) %>
  <br>
  <%= link_to "New post", new_post_url %>
  <br>
  <%= link_to "Posts", user_posts_url(@user.id) %>
<% end %>