<h2> New Post </h2>

<form action="<%= posts_url %>" method="post">
  <label for="post_body">Body</label>
  <input type="text" id="post_body" name="post[body]">
  <br>
  <% @current_user.fcs.each do |fc| %>
    <input type="checkbox" id="post_<%= fc.name %>" name="post[fc_ids][]" value="<%= fc.id %>">
    <label for="post_<%= fc.name %>"><%= fc.name %></label>
    <br>
  <% end %>
  <input type="hidden" name="post[fc_ids][]" value="">

  <% 3.times do |i| %>
  <label for="post_link_0_url">URL</label>
  <input type="url" name="post[links_attributes][<%= i %>][url]" id="post_link_<%= i %>_url">
  <br>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="New Post">
</form>