<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootapplication", :media => "all" %>
</head>
<body>
<%= "You are logged in as " + @current_user.name if @current_user %>
<br>
<%= yield %>
<br>
<br>
<br>
<% if @current_user %>
  <%= button_to "Sign Out", sessions_url, method: :delete %>
<% end %>
</body>
</html>
